CarProject/xml-resources/web-service-references/CarWebService/wsdl/localhost_18306/CarServices/CarWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CarWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:18306/CarServices/CarWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="insertBrand">
<part name="parameters" element="tns:insertBrand"/>
</message>
<message name="insertBrandResponse">
<part name="parameters" element="tns:insertBrandResponse"/>
</message>
<message name="getBrandByName">
<part name="parameters" element="tns:getBrandByName"/>
</message>
<message name="getBrandByNameResponse">
<part name="parameters" element="tns:getBrandByNameResponse"/>
</message>
<message name="insertCustomer">
<part name="parameters" element="tns:insertCustomer"/>
</message>
<message name="insertCustomerResponse">
<part name="parameters" element="tns:insertCustomerResponse"/>
</message>
<message name="getMechanicByID">
<part name="parameters" element="tns:getMechanicByID"/>
</message>
<message name="getMechanicByIDResponse">
<part name="parameters" element="tns:getMechanicByIDResponse"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="updateBrand">
<part name="parameters" element="tns:updateBrand"/>
</message>
<message name="updateBrandResponse">
<part name="parameters" element="tns:updateBrandResponse"/>
</message>
<message name="getAllCustomer">
<part name="parameters" element="tns:getAllCustomer"/>
</message>
<message name="getAllCustomerResponse">
<part name="parameters" element="tns:getAllCustomerResponse"/>
</message>
<message name="getCustomerByID">
<part name="parameters" element="tns:getCustomerByID"/>
</message>
<message name="getCustomerByIDResponse">
<part name="parameters" element="tns:getCustomerByIDResponse"/>
</message>
<message name="getAllMechanic">
<part name="parameters" element="tns:getAllMechanic"/>
</message>
<message name="getAllMechanicResponse">
<part name="parameters" element="tns:getAllMechanicResponse"/>
</message>
<message name="insertMechanic">
<part name="parameters" element="tns:insertMechanic"/>
</message>
<message name="insertMechanicResponse">
<part name="parameters" element="tns:insertMechanicResponse"/>
</message>
<message name="updateMechanic">
<part name="parameters" element="tns:updateMechanic"/>
</message>
<message name="updateMechanicResponse">
<part name="parameters" element="tns:updateMechanicResponse"/>
</message>
<message name="insertPart">
<part name="parameters" element="tns:insertPart"/>
</message>
<message name="insertPartResponse">
<part name="parameters" element="tns:insertPartResponse"/>
</message>
<message name="getPartByID">
<part name="parameters" element="tns:getPartByID"/>
</message>
<message name="getPartByIDResponse">
<part name="parameters" element="tns:getPartByIDResponse"/>
</message>
<message name="updatePart">
<part name="parameters" element="tns:updatePart"/>
</message>
<message name="updatePartResponse">
<part name="parameters" element="tns:updatePartResponse"/>
</message>
<message name="deleteMechanic">
<part name="parameters" element="tns:deleteMechanic"/>
</message>
<message name="deleteMechanicResponse">
<part name="parameters" element="tns:deleteMechanicResponse"/>
</message>
<message name="getAllPart">
<part name="parameters" element="tns:getAllPart"/>
</message>
<message name="getAllPartResponse">
<part name="parameters" element="tns:getAllPartResponse"/>
</message>
<message name="deletePart">
<part name="parameters" element="tns:deletePart"/>
</message>
<message name="deletePartResponse">
<part name="parameters" element="tns:deletePartResponse"/>
</message>
<message name="getAllSupplier">
<part name="parameters" element="tns:getAllSupplier"/>
</message>
<message name="getAllSupplierResponse">
<part name="parameters" element="tns:getAllSupplierResponse"/>
</message>
<message name="getSupplierByID">
<part name="parameters" element="tns:getSupplierByID"/>
</message>
<message name="getSupplierByIDResponse">
<part name="parameters" element="tns:getSupplierByIDResponse"/>
</message>
<message name="updateBooking">
<part name="parameters" element="tns:updateBooking"/>
</message>
<message name="updateBookingResponse">
<part name="parameters" element="tns:updateBookingResponse"/>
</message>
<message name="getAllBrand">
<part name="parameters" element="tns:getAllBrand"/>
</message>
<message name="getAllBrandResponse">
<part name="parameters" element="tns:getAllBrandResponse"/>
</message>
<message name="getAllBooking">
<part name="parameters" element="tns:getAllBooking"/>
</message>
<message name="getAllBookingResponse">
<part name="parameters" element="tns:getAllBookingResponse"/>
</message>
<message name="getBrandByID">
<part name="parameters" element="tns:getBrandByID"/>
</message>
<message name="getBrandByIDResponse">
<part name="parameters" element="tns:getBrandByIDResponse"/>
</message>
<message name="getBookingByID">
<part name="parameters" element="tns:getBookingByID"/>
</message>
<message name="getBookingByIDResponse">
<part name="parameters" element="tns:getBookingByIDResponse"/>
</message>
<message name="insertBooking">
<part name="parameters" element="tns:insertBooking"/>
</message>
<message name="insertBookingResponse">
<part name="parameters" element="tns:insertBookingResponse"/>
</message>
<message name="getTotalBenefit">
<part name="parameters" element="tns:getTotalBenefit"/>
</message>
<message name="getTotalBenefitResponse">
<part name="parameters" element="tns:getTotalBenefitResponse"/>
</message>
<message name="getTotalPartSale">
<part name="parameters" element="tns:getTotalPartSale"/>
</message>
<message name="getTotalPartSaleResponse">
<part name="parameters" element="tns:getTotalPartSaleResponse"/>
</message>
<message name="deleteSupplier">
<part name="parameters" element="tns:deleteSupplier"/>
</message>
<message name="deleteSupplierResponse">
<part name="parameters" element="tns:deleteSupplierResponse"/>
</message>
<message name="getTotalBooking">
<part name="parameters" element="tns:getTotalBooking"/>
</message>
<message name="getTotalBookingResponse">
<part name="parameters" element="tns:getTotalBookingResponse"/>
</message>
<message name="insertSupplier">
<part name="parameters" element="tns:insertSupplier"/>
</message>
<message name="insertSupplierResponse">
<part name="parameters" element="tns:insertSupplierResponse"/>
</message>
<message name="updateSupplier">
<part name="parameters" element="tns:updateSupplier"/>
</message>
<message name="updateSupplierResponse">
<part name="parameters" element="tns:updateSupplierResponse"/>
</message>
<message name="deleteBooking">
<part name="parameters" element="tns:deleteBooking"/>
</message>
<message name="deleteBookingResponse">
<part name="parameters" element="tns:deleteBookingResponse"/>
</message>
<message name="deleteBrand">
<part name="parameters" element="tns:deleteBrand"/>
</message>
<message name="deleteBrandResponse">
<part name="parameters" element="tns:deleteBrandResponse"/>
</message>
<message name="getMechanicByName">
<part name="parameters" element="tns:getMechanicByName"/>
</message>
<message name="getMechanicByNameResponse">
<part name="parameters" element="tns:getMechanicByNameResponse"/>
</message>
<message name="getCustomerByName">
<part name="parameters" element="tns:getCustomerByName"/>
</message>
<message name="getCustomerByNameResponse">
<part name="parameters" element="tns:getCustomerByNameResponse"/>
</message>
<message name="getAllRequirement">
<part name="parameters" element="tns:getAllRequirement"/>
</message>
<message name="getAllRequirementResponse">
<part name="parameters" element="tns:getAllRequirementResponse"/>
</message>
<message name="getRequirementByID">
<part name="parameters" element="tns:getRequirementByID"/>
</message>
<message name="getRequirementByIDResponse">
<part name="parameters" element="tns:getRequirementByIDResponse"/>
</message>
<message name="insertRequirement">
<part name="parameters" element="tns:insertRequirement"/>
</message>
<message name="insertRequirementResponse">
<part name="parameters" element="tns:insertRequirementResponse"/>
</message>
<message name="updateRequirement">
<part name="parameters" element="tns:updateRequirement"/>
</message>
<message name="updateRequirementResponse">
<part name="parameters" element="tns:updateRequirementResponse"/>
</message>
<message name="deleteRequirement">
<part name="parameters" element="tns:deleteRequirement"/>
</message>
<message name="deleteRequirementResponse">
<part name="parameters" element="tns:deleteRequirementResponse"/>
</message>
<message name="getSupplierByName">
<part name="parameters" element="tns:getSupplierByName"/>
</message>
<message name="getSupplierByNameResponse">
<part name="parameters" element="tns:getSupplierByNameResponse"/>
</message>
<message name="getTotalRequirement">
<part name="parameters" element="tns:getTotalRequirement"/>
</message>
<message name="getTotalRequirementResponse">
<part name="parameters" element="tns:getTotalRequirementResponse"/>
</message>
<portType name="CarWebService">
<operation name="insertBrand">
<input wsam:Action="http://ws/CarWebService/insertBrandRequest" message="tns:insertBrand"/>
<output wsam:Action="http://ws/CarWebService/insertBrandResponse" message="tns:insertBrandResponse"/>
</operation>
<operation name="getBrandByName">
<input wsam:Action="http://ws/CarWebService/getBrandByNameRequest" message="tns:getBrandByName"/>
<output wsam:Action="http://ws/CarWebService/getBrandByNameResponse" message="tns:getBrandByNameResponse"/>
</operation>
<operation name="insertCustomer">
<input wsam:Action="http://ws/CarWebService/insertCustomerRequest" message="tns:insertCustomer"/>
<output wsam:Action="http://ws/CarWebService/insertCustomerResponse" message="tns:insertCustomerResponse"/>
</operation>
<operation name="getMechanicByID">
<input wsam:Action="http://ws/CarWebService/getMechanicByIDRequest" message="tns:getMechanicByID"/>
<output wsam:Action="http://ws/CarWebService/getMechanicByIDResponse" message="tns:getMechanicByIDResponse"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://ws/CarWebService/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://ws/CarWebService/updateCustomerResponse" message="tns:updateCustomerResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://ws/CarWebService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://ws/CarWebService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="updateBrand">
<input wsam:Action="http://ws/CarWebService/updateBrandRequest" message="tns:updateBrand"/>
<output wsam:Action="http://ws/CarWebService/updateBrandResponse" message="tns:updateBrandResponse"/>
</operation>
<operation name="getAllCustomer">
<input wsam:Action="http://ws/CarWebService/getAllCustomerRequest" message="tns:getAllCustomer"/>
<output wsam:Action="http://ws/CarWebService/getAllCustomerResponse" message="tns:getAllCustomerResponse"/>
</operation>
<operation name="getCustomerByID">
<input wsam:Action="http://ws/CarWebService/getCustomerByIDRequest" message="tns:getCustomerByID"/>
<output wsam:Action="http://ws/CarWebService/getCustomerByIDResponse" message="tns:getCustomerByIDResponse"/>
</operation>
<operation name="getAllMechanic">
<input wsam:Action="http://ws/CarWebService/getAllMechanicRequest" message="tns:getAllMechanic"/>
<output wsam:Action="http://ws/CarWebService/getAllMechanicResponse" message="tns:getAllMechanicResponse"/>
</operation>
<operation name="insertMechanic">
<input wsam:Action="http://ws/CarWebService/insertMechanicRequest" message="tns:insertMechanic"/>
<output wsam:Action="http://ws/CarWebService/insertMechanicResponse" message="tns:insertMechanicResponse"/>
</operation>
<operation name="updateMechanic">
<input wsam:Action="http://ws/CarWebService/updateMechanicRequest" message="tns:updateMechanic"/>
<output wsam:Action="http://ws/CarWebService/updateMechanicResponse" message="tns:updateMechanicResponse"/>
</operation>
<operation name="insertPart">
<input wsam:Action="http://ws/CarWebService/insertPartRequest" message="tns:insertPart"/>
<output wsam:Action="http://ws/CarWebService/insertPartResponse" message="tns:insertPartResponse"/>
</operation>
<operation name="getPartByID">
<input wsam:Action="http://ws/CarWebService/getPartByIDRequest" message="tns:getPartByID"/>
<output wsam:Action="http://ws/CarWebService/getPartByIDResponse" message="tns:getPartByIDResponse"/>
</operation>
<operation name="updatePart">
<input wsam:Action="http://ws/CarWebService/updatePartRequest" message="tns:updatePart"/>
<output wsam:Action="http://ws/CarWebService/updatePartResponse" message="tns:updatePartResponse"/>
</operation>
<operation name="deleteMechanic">
<input wsam:Action="http://ws/CarWebService/deleteMechanicRequest" message="tns:deleteMechanic"/>
<output wsam:Action="http://ws/CarWebService/deleteMechanicResponse" message="tns:deleteMechanicResponse"/>
</operation>
<operation name="getAllPart">
<input wsam:Action="http://ws/CarWebService/getAllPartRequest" message="tns:getAllPart"/>
<output wsam:Action="http://ws/CarWebService/getAllPartResponse" message="tns:getAllPartResponse"/>
</operation>
<operation name="deletePart">
<input wsam:Action="http://ws/CarWebService/deletePartRequest" message="tns:deletePart"/>
<output wsam:Action="http://ws/CarWebService/deletePartResponse" message="tns:deletePartResponse"/>
</operation>
<operation name="getAllSupplier">
<input wsam:Action="http://ws/CarWebService/getAllSupplierRequest" message="tns:getAllSupplier"/>
<output wsam:Action="http://ws/CarWebService/getAllSupplierResponse" message="tns:getAllSupplierResponse"/>
</operation>
<operation name="getSupplierByID">
<input wsam:Action="http://ws/CarWebService/getSupplierByIDRequest" message="tns:getSupplierByID"/>
<output wsam:Action="http://ws/CarWebService/getSupplierByIDResponse" message="tns:getSupplierByIDResponse"/>
</operation>
<operation name="updateBooking">
<input wsam:Action="http://ws/CarWebService/updateBookingRequest" message="tns:updateBooking"/>
<output wsam:Action="http://ws/CarWebService/updateBookingResponse" message="tns:updateBookingResponse"/>
</operation>
<operation name="getAllBrand">
<input wsam:Action="http://ws/CarWebService/getAllBrandRequest" message="tns:getAllBrand"/>
<output wsam:Action="http://ws/CarWebService/getAllBrandResponse" message="tns:getAllBrandResponse"/>
</operation>
<operation name="getAllBooking">
<input wsam:Action="http://ws/CarWebService/getAllBookingRequest" message="tns:getAllBooking"/>
<output wsam:Action="http://ws/CarWebService/getAllBookingResponse" message="tns:getAllBookingResponse"/>
</operation>
<operation name="getBrandByID">
<input wsam:Action="http://ws/CarWebService/getBrandByIDRequest" message="tns:getBrandByID"/>
<output wsam:Action="http://ws/CarWebService/getBrandByIDResponse" message="tns:getBrandByIDResponse"/>
</operation>
<operation name="getBookingByID">
<input wsam:Action="http://ws/CarWebService/getBookingByIDRequest" message="tns:getBookingByID"/>
<output wsam:Action="http://ws/CarWebService/getBookingByIDResponse" message="tns:getBookingByIDResponse"/>
</operation>
<operation name="insertBooking">
<input wsam:Action="http://ws/CarWebService/insertBookingRequest" message="tns:insertBooking"/>
<output wsam:Action="http://ws/CarWebService/insertBookingResponse" message="tns:insertBookingResponse"/>
</operation>
<operation name="getTotalBenefit">
<input wsam:Action="http://ws/CarWebService/getTotalBenefitRequest" message="tns:getTotalBenefit"/>
<output wsam:Action="http://ws/CarWebService/getTotalBenefitResponse" message="tns:getTotalBenefitResponse"/>
</operation>
<operation name="getTotalPartSale">
<input wsam:Action="http://ws/CarWebService/getTotalPartSaleRequest" message="tns:getTotalPartSale"/>
<output wsam:Action="http://ws/CarWebService/getTotalPartSaleResponse" message="tns:getTotalPartSaleResponse"/>
</operation>
<operation name="deleteSupplier">
<input wsam:Action="http://ws/CarWebService/deleteSupplierRequest" message="tns:deleteSupplier"/>
<output wsam:Action="http://ws/CarWebService/deleteSupplierResponse" message="tns:deleteSupplierResponse"/>
</operation>
<operation name="getTotalBooking">
<input wsam:Action="http://ws/CarWebService/getTotalBookingRequest" message="tns:getTotalBooking"/>
<output wsam:Action="http://ws/CarWebService/getTotalBookingResponse" message="tns:getTotalBookingResponse"/>
</operation>
<operation name="insertSupplier">
<input wsam:Action="http://ws/CarWebService/insertSupplierRequest" message="tns:insertSupplier"/>
<output wsam:Action="http://ws/CarWebService/insertSupplierResponse" message="tns:insertSupplierResponse"/>
</operation>
<operation name="updateSupplier">
<input wsam:Action="http://ws/CarWebService/updateSupplierRequest" message="tns:updateSupplier"/>
<output wsam:Action="http://ws/CarWebService/updateSupplierResponse" message="tns:updateSupplierResponse"/>
</operation>
<operation name="deleteBooking">
<input wsam:Action="http://ws/CarWebService/deleteBookingRequest" message="tns:deleteBooking"/>
<output wsam:Action="http://ws/CarWebService/deleteBookingResponse" message="tns:deleteBookingResponse"/>
</operation>
<operation name="deleteBrand">
<input wsam:Action="http://ws/CarWebService/deleteBrandRequest" message="tns:deleteBrand"/>
<output wsam:Action="http://ws/CarWebService/deleteBrandResponse" message="tns:deleteBrandResponse"/>
</operation>
<operation name="getMechanicByName">
<input wsam:Action="http://ws/CarWebService/getMechanicByNameRequest" message="tns:getMechanicByName"/>
<output wsam:Action="http://ws/CarWebService/getMechanicByNameResponse" message="tns:getMechanicByNameResponse"/>
</operation>
<operation name="getCustomerByName">
<input wsam:Action="http://ws/CarWebService/getCustomerByNameRequest" message="tns:getCustomerByName"/>
<output wsam:Action="http://ws/CarWebService/getCustomerByNameResponse" message="tns:getCustomerByNameResponse"/>
</operation>
<operation name="getAllRequirement">
<input wsam:Action="http://ws/CarWebService/getAllRequirementRequest" message="tns:getAllRequirement"/>
<output wsam:Action="http://ws/CarWebService/getAllRequirementResponse" message="tns:getAllRequirementResponse"/>
</operation>
<operation name="getRequirementByID">
<input wsam:Action="http://ws/CarWebService/getRequirementByIDRequest" message="tns:getRequirementByID"/>
<output wsam:Action="http://ws/CarWebService/getRequirementByIDResponse" message="tns:getRequirementByIDResponse"/>
</operation>
<operation name="insertRequirement">
<input wsam:Action="http://ws/CarWebService/insertRequirementRequest" message="tns:insertRequirement"/>
<output wsam:Action="http://ws/CarWebService/insertRequirementResponse" message="tns:insertRequirementResponse"/>
</operation>
<operation name="updateRequirement">
<input wsam:Action="http://ws/CarWebService/updateRequirementRequest" message="tns:updateRequirement"/>
<output wsam:Action="http://ws/CarWebService/updateRequirementResponse" message="tns:updateRequirementResponse"/>
</operation>
<operation name="deleteRequirement">
<input wsam:Action="http://ws/CarWebService/deleteRequirementRequest" message="tns:deleteRequirement"/>
<output wsam:Action="http://ws/CarWebService/deleteRequirementResponse" message="tns:deleteRequirementResponse"/>
</operation>
<operation name="getSupplierByName">
<input wsam:Action="http://ws/CarWebService/getSupplierByNameRequest" message="tns:getSupplierByName"/>
<output wsam:Action="http://ws/CarWebService/getSupplierByNameResponse" message="tns:getSupplierByNameResponse"/>
</operation>
<operation name="getTotalRequirement">
<input wsam:Action="http://ws/CarWebService/getTotalRequirementRequest" message="tns:getTotalRequirement"/>
<output wsam:Action="http://ws/CarWebService/getTotalRequirementResponse" message="tns:getTotalRequirementResponse"/>
</operation>
</portType>
<binding name="CarWebServicePortBinding" type="tns:CarWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBrandByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMechanicByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMechanic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertMechanic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMechanic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertPart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMechanic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSupplier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSupplierByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBrandByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalBenefit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalPartSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSupplier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertSupplier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSupplier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMechanicByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRequirement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRequirementByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertRequirement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRequirement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRequirement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSupplierByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalRequirement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CarWebService">
<port name="CarWebServicePort" binding="tns:CarWebServicePortBinding">
<soap:address location="http://localhost:18306/CarServices/CarWebService"/>
</port>
</service>
</definitions>